.root {
    cursor: pointer;
    > * {
        cursor: pointer;
    }
}

.root:hover {
        background-color: #f1f1f1;
    }

.selectionBox {
    height: 1.3rem;
    border-radius: 0;
    width: 1.3rem;
}

.label {
    margin: 0;
    margin-left: .5rem;
    flex-grow: 1;
}